In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
df = pd.read_csv("/content/gdrive/My Drive/vc_modeling/model_output/predictions.csv")
df.head

<bound method NDFrame.head of                          hash  ... prediction_2000
0        13685534557686295101  ...        1.579223
1          764015621929367586  ...             NaN
2        10846552445983457719  ...        0.874910
3        10693046220981818130  ...             NaN
4         5087506707876194815  ...        4.063588
...                       ...  ...             ...
1089728   7648380604111671063  ...             NaN
1089729  15062640940509416191  ...             NaN
1089730   9929788675484222851  ...             NaN
1089731   2009917061565156091  ...             NaN
1089732  12539503581336717831  ...             NaN

[1089733 rows x 16 columns]>

In [4]:
df.columns

Index(['hash', 'uuid', 'name', 'created_at', 'initial_valuation', 'truth_200',
       'prediction_200', 'initial_valuation500', 'truth_500', 'prediction_500',
       'initial_valuation1000', 'truth_1000', 'prediction_1000',
       'initial_valuation2000', 'truth_2000', 'prediction_2000'],
      dtype='object')

In [5]:
df = pd.DataFrame(df[["uuid", "initial_valuation", "prediction_200", "prediction_500", "prediction_1000", "prediction_2000"]])

In [6]:
df

                                         uuid  ...  prediction_2000
0        e1393508-30ea-8a36-3f96-dd3226033abd  ...         1.579223
1        bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...              NaN
2        5f2b40b8-d1b3-d323-d81a-b7a8e89553d0  ...         0.874910
3        f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...              NaN
4        df662812-7f97-0b43-9d3e-12f64f504fbb  ...         4.063588
...                                       ...  ...              ...
1089728  563edf19-174e-410c-a33b-85df066f4bdb  ...              NaN
1089729  e690cf82-eda4-4065-a42f-1119708aae45  ...              NaN
1089730  d206b3b0-c576-4557-aee5-1fb0e11b0afe  ...              NaN
1089731  bdd81efe-0faa-43ac-99ab-0d964c160be1  ...              NaN
1089732  235a1159-90a2-4208-9dfd-80e65be66c21  ...              NaN

[1089733 rows x 6 columns]

In [7]:
df.dropna()

                                         uuid  ...  prediction_2000
0        e1393508-30ea-8a36-3f96-dd3226033abd  ...         1.579223
2        5f2b40b8-d1b3-d323-d81a-b7a8e89553d0  ...         0.874910
4        df662812-7f97-0b43-9d3e-12f64f504fbb  ...         4.063588
8        60485007-8856-bbac-aa1b-c535c41f5f47  ...         1.526805
9        4111dc8b-c0df-2d24-ed33-30cd137b3098  ...         1.885427
...                                       ...  ...              ...
1089708  784fb1d8-99f5-45e8-9cf7-bd95a4cc0314  ...         0.738452
1089713  408d924d-1c6f-48f8-8faa-0d152ed48ffa  ...         0.662069
1089717  ee597ac9-cb2d-4f63-8587-2f2d77b05a11  ...         1.735418
1089722  b6f1e202-645f-462f-a165-7459dd59d9b4  ...         0.726505
1089725  e95f3f39-2555-455f-8f8c-78d0eb573b36  ...         0.732876

[138158 rows x 6 columns]

In [8]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from copy import deepcopy

In [9]:
file_names = ["organizations", "jobs", "people"]

In [10]:
dfs = [pd.read_csv("/content/gdrive/My Drive/vc_modeling/data/crunchbase_bulk_export/"+x+".csv") for x in file_names]
df_dict = dict(zip(file_names, dfs))
print(df_dict.keys())

dict_keys(['organizations', 'jobs', 'people'])

In [11]:
jobs_df = df_dict["jobs"]
jobs_founders = jobs_df[jobs_df.apply(lambda row: row["title"].lower().find("found") > -1 if isinstance(row["title"], str) else False, axis=1)]
org_and_founder_uuid = jobs_founders[["org_uuid", "person_uuid"]]
founders_uuids = jobs_founders.person_uuid.unique()

people_df = df_dict["people"]
org_founders = people_df.loc[people_df["uuid"].isin(founders_uuids)].set_index("uuid")
org_founders.head()

                                                  name  ...                                           logo_url
uuid                                                    ...
ed13cd36-fe2b-3707-197b-0c2d56e37a71       Ben Elowitz  ...  https://crunchbase-production-res.cloudinary.c...
80d25c23-9726-9dda-5852-39cdf4810ea5    Ron Gorodetzky  ...  https://crunchbase-production-res.cloudinary.c...
a01b8d46-d311-3333-7c34-aa3ae9c03f22   Mark Zuckerberg  ...  https://crunchbase-production-res.cloudinary.c...
084aaa07-0795-1fe8-9c46-98bbeb02cd64  Dustin Moskovitz  ...  https://crunchbase-production-res.cloudinary.c...
d3ae96f0-4442-720f-1ec2-fc28eac94e53    Owen Van Natta  ...  https://crunchbase-production-res.cloudinary.c...

[5 rows x 21 columns]

In [12]:
org_founders
org_founders.nunique()

name                              250697
type                                   1
permalink                         264839
cb_url                            264839
rank                              263977
created_at                        243126
updated_at                        121959
first_name                         39054
last_name                         119142
gender                                14
country_code                         169
state_code                            64
region                              1136
city                                6134
featured_job_organization_uuid    142198
featured_job_organization_name    140582
featured_job_title                 27572
facebook_url                       39330
linkedin_url                      180748
twitter_url                        71859
logo_url                          215561
dtype: int64

In [13]:
df_dict["organizations"].head()

                                   uuid  ... num_exits
0  e1393508-30ea-8a36-3f96-dd3226033abd  ...       NaN
1  bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7  ...       1.0
2  5f2b40b8-d1b3-d323-d81a-b7a8e89553d0  ...       NaN
3  f4d5ab44-058b-298b-ea81-380e6e9a8eec  ...      33.0
4  df662812-7f97-0b43-9d3e-12f64f504fbb  ...       NaN

[5 rows x 41 columns]

In [14]:
big_df = pd.concat([df.set_index('uuid'),pd.DataFrame(df_dict["organizations"][["uuid","name","short_description","founded_on"]]).set_index('uuid')], axis=1, join='inner')

In [15]:
big_df

                                      initial_valuation  ...  founded_on
uuid                                                     ...
e1393508-30ea-8a36-3f96-dd3226033abd         26250000.0  ...  2005-06-01
bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7                NaN  ...  1996-09-15
5f2b40b8-d1b3-d323-d81a-b7a8e89553d0         14000000.0  ...  2004-10-11
f4d5ab44-058b-298b-ea81-380e6e9a8eec                NaN  ...  2004-01-01
df662812-7f97-0b43-9d3e-12f64f504fbb          2500000.0  ...  2004-02-04
...                                                 ...  ...         ...
563edf19-174e-410c-a33b-85df066f4bdb                NaN  ...  2020-02-19
e690cf82-eda4-4065-a42f-1119708aae45                NaN  ...  2020-05-30
d206b3b0-c576-4557-aee5-1fb0e11b0afe                NaN  ...         NaN
bdd81efe-0faa-43ac-99ab-0d964c160be1                NaN  ...         NaN
235a1159-90a2-4208-9dfd-80e65be66c21                NaN  ...  2016-01-01

[1089733 rows x 8 columns]

In [16]:
big_df.dropna()

                                      initial_valuation  ...  founded_on
uuid                                                     ...
e1393508-30ea-8a36-3f96-dd3226033abd         26250000.0  ...  2005-06-01
5f2b40b8-d1b3-d323-d81a-b7a8e89553d0         14000000.0  ...  2004-10-11
df662812-7f97-0b43-9d3e-12f64f504fbb          2500000.0  ...  2004-02-04
60485007-8856-bbac-aa1b-c535c41f5f47          4000000.0  ...  2005-11-01
4111dc8b-c0df-2d24-ed33-30cd137b3098         10000000.0  ...  2006-06-01
...                                                 ...  ...         ...
784fb1d8-99f5-45e8-9cf7-bd95a4cc0314         18625040.0  ...  2018-01-01
408d924d-1c6f-48f8-8faa-0d152ed48ffa         11650010.0  ...  2019-01-01
ee597ac9-cb2d-4f63-8587-2f2d77b05a11          8049985.0  ...  2019-01-01
b6f1e202-645f-462f-a165-7459dd59d9b4          2875000.0  ...  2019-05-23
e95f3f39-2555-455f-8f8c-78d0eb573b36          2500000.0  ...  2019-08-01

[134077 rows x 8 columns]

In [17]:
founders = org_founders.groupby("featured_job_organization_uuid")

In [18]:
founder_names = org_founders.groupby("featured_job_organization_uuid")['name'].apply(', '.join).reset_index()

In [19]:
founder_names.columns = ["featured_job_organization_uuid", "founder_names"]
founder_names

              featured_job_organization_uuid                                      founder_names
0       000014da-0c46-b9cb-0941-3a93c027b119  Anders Søndergaard, Thomas Scherning, Helga Ha...
1       00002470-bff7-6226-5800-0ca1b3787b6f                                        Weiting Liu
2       00004c41-aeeb-b5a0-8812-64cf2d017cfb                                    Richard Florida
3       00007c5c-9260-0dfb-c160-89a416f1a7cc                    Konrad Kopczynski, Alika Graham
4       0000c0e1-eb00-9281-9a7f-63dfa277e8df                                   Seffie Treistman
...                                      ...                                                ...
142193  fffe2508-e9e3-8602-9664-8c6ef2c803de                                        Susan Burke
142194  fffeb0c0-db98-4585-a40d-d36b140ae446                   Valentina Shegoyan, Roman Slivin
142195  ffff2c3b-ca66-67dc-c643-77cf3a5f89e2                                       Edgar Moreno
142196  ffff8343-97a6-3667-67af-ed3789fa9e14                                     Brittany Reiff
142197  ffffabce-6d4a-b3d1-13c0-4e90cedf5270        JACOB HAGEMANN, Mads Tagel, Thomas Bjerring

[142198 rows x 2 columns]

In [20]:
big_df2 = pd.concat([big_df,founder_names.set_index("featured_job_organization_uuid")], axis=1, join='inner')

In [21]:
big_df2 = big_df2.dropna()

In [22]:
big_df2

                                      initial_valuation  ...                                      founder_names
df662812-7f97-0b43-9d3e-12f64f504fbb          2500000.0  ...  Mark Zuckerberg, Blake Williams, Ashwin Bharam...
5da6106f-0d27-0d37-e9d7-dcfeccc1f709         25000000.0  ...  Jack Dorsey, Biz Stone, John Kalucki, Britt Se...
3d16cb4c-911e-75c0-de5a-15c316b39f98          7500000.0  ...                             Geoff Smith, Eric Boyd
21e77067-5537-408e-cad7-e5e72bb6ad86           200000.0  ...                       John R. Adler, Colton Gyulay
e56b0ceb-bb30-bbec-805e-d5dc7412dcb1         33500000.0  ...  Pierre Omidyar, Brian McGarvey, Steve Yankovic...
...                                                 ...  ...                                                ...
e682eef3-1a6b-4959-aba6-d05a28937c66           750000.0  ...                                        Rocky Emery
a346472b-fc10-4b62-a433-f4ce14064960          5250000.0  ...                                    Sean M. Griffin
d9b8c000-17f0-4048-b056-390078bdc01b           412490.0  ...                                     Matthew Krause
ebc63a49-54c3-4222-bef2-ec559ca1e9cc         57875000.0  ...                                   Owen V. Prunskis
31582762-ecc5-496f-b7a6-6622a3e85100          1625000.0  ...                                       Carson Meyer

[56227 rows x 9 columns]

In [23]:
big_df2["prediction_200"] = big_df2["prediction_200"].apply(lambda x: (np.exp(x)-1) * 100)
big_df2["prediction_500"] = big_df2["prediction_500"].apply(lambda x: (np.exp(x)-1) * 100)
big_df2["prediction_1000"] = big_df2["prediction_1000"].apply(lambda x: (np.exp(x)-1) * 100)
big_df2["prediction_2000"] = big_df2["prediction_2000"].apply(lambda x: (np.exp(x)-1) * 100)

In [24]:
big_df2

                                      initial_valuation  ...                                      founder_names
df662812-7f97-0b43-9d3e-12f64f504fbb          2500000.0  ...  Mark Zuckerberg, Blake Williams, Ashwin Bharam...
5da6106f-0d27-0d37-e9d7-dcfeccc1f709         25000000.0  ...  Jack Dorsey, Biz Stone, John Kalucki, Britt Se...
3d16cb4c-911e-75c0-de5a-15c316b39f98          7500000.0  ...                             Geoff Smith, Eric Boyd
21e77067-5537-408e-cad7-e5e72bb6ad86           200000.0  ...                       John R. Adler, Colton Gyulay
e56b0ceb-bb30-bbec-805e-d5dc7412dcb1         33500000.0  ...  Pierre Omidyar, Brian McGarvey, Steve Yankovic...
...                                                 ...  ...                                                ...
e682eef3-1a6b-4959-aba6-d05a28937c66           750000.0  ...                                        Rocky Emery
a346472b-fc10-4b62-a433-f4ce14064960          5250000.0  ...                                    Sean M. Griffin
d9b8c000-17f0-4048-b056-390078bdc01b           412490.0  ...                                     Matthew Krause
ebc63a49-54c3-4222-bef2-ec559ca1e9cc         57875000.0  ...                                   Owen V. Prunskis
31582762-ecc5-496f-b7a6-6622a3e85100          1625000.0  ...                                       Carson Meyer

[56227 rows x 9 columns]

In [25]:
big_df2.to_csv("cleaned_outputs.csv")

In [26]:
len(big_df2)

56227

In [27]:
big_df2 = big_df2.dropna()

In [28]:
len(big_df2)

56227

In [30]:
big_df2['prediction_200'].mean()

46.468884246633074

In [31]:
big_df2['prediction_2000'].mean()

221.77438448321266